<!DOCTYPE html>
<html>

<head>
    <title>Кабинеты</title>
    <meta charset="utf-8" />
</head>

<body>
    {{> header loggedIn=true}}
    <div class="container">
        <h3>Кабинеты</h3>
        <div>
            <a href="/admin/receptions/add">Добавить</a>
            <a href="/admin">Назад</a>
        </div>
        <br />
        {{#each result}}
            <h4>{{this.county}}</h4>
                {{#if this.receptions}}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <a>Кабинет</a>
                                </th>
                                <th>
                                    <a>Окно</a>
                                </th>
                                <th>
                                    <a>Тематика</a>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {{#each this.receptions}}

                        
                            <tr>
                                <td>
                                    {{this.Cabinet}}
                                </td>
                                <td>
                                    {{this.Num_reception}}
                                </td>
                                <td>
                                    {{this.Theme}}
                                </td>
                                <td>
                                    <a href="/admin/receptions/{{this.Id_reception}}/edit">Изменить</a>
                                    <a href="/admin/receptions/{{this.Id_reception}}/delete">Удалить</a>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                {{else}}
                    <a>Кабинеты не добавлены</a>
                {{/if}}
                <br />
            {{/each}}
            
        </table>
    </div>
</body>

</html>