<!DOCTYPE html>
<html>

<head>
    <title>Выбор времени</title>
    <meta charset="utf-8" />
</head>

<body>
    {{> header loggedIn=loggedIn}}
    <div class="container">
        <div class="form-group">
            <h2>Выберите удобное время</h2>
            <form method="POST">
                <div class="form-floating mb-3">
                {{#each results}}
                    <h5>Кабинет {{this.reception.Cabinet}}, окно {{this.reception.Num_reception}}</h5>
                    
                    {{#each this.available}}
                        <p><input type="radio" name="availableId" value="{{this.Id_available}}"> {{this.date.hours}}:{{this.date.minutes}}</p>
                    {{/each}}  
                {{/each}}
                </div>
                <input type="submit" value="Далее" class="btn btn-primary" />
            </form>
        </div>
    </div>
</body>